.pageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  padding-top: 150px;
  background: linear-gradient(to bottom right, #fffaf7, #fceae4);
  overflow-x: hidden;
}


.pageContainer::before,
.pageContainer::after {
  content: "";
  position: absolute;
  position: fixed;
  top: 40%;
  transform: translateY(-30%);
  width: 400px;
  height: 560px; 
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  opacity: 0.5;
  
}


.pageContainer::before {
  left: 150px;
  background-image: url("../decor/leaf-left.png");
}

.pageContainer::after {
  right: 150px;
  background-image: url("../decor/leaf-right.png");
}


  
  .title {
    font-family: 'Italianno', cursive;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #59341b;
    z-index: 1;
  }
  
  .loading {
    text-align: center; 
    font-size: 25px;
    color: #a65648;
    font-family: 'Lateef', sans-serif;
    margin-top: 40px;
  }