.cartContainer {
    padding-top: 150px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, #fffaf7, #fceae4);
  }
  

.productCard {
    display: flex;
    background: #ecd9d4;
    padding: 15px 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    max-width: 1000px;
  }

  
  .cartImageWrapper {
    flex: 0 0 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  
  .productMedia {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px;
    background-color: white;
  }
  
  .productDetails {
    flex: 1;
    text-align: left;
    font-family: 'Lateef', sans-serif;
    color: #59341b;
  }
  
  .productDetails h3 {
    margin: 0 0 6px 0;
    font-size: 18px;
  }
  
  .productDetails p {
    margin: 4px 0;
    font-size: 20px;
  }
  
  .cartActions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }
  
  .price {
    font-weight: bold;
    font-size: 23px;
    font-family: 'Lateef', sans-serif;
  }
  
  .quantityRow {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 23px;
    font-family: 'Lateef', sans-serif;
  }
  
  .qtyBtn {
    border: none;
    background: #b98374;
    color: white;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
  }
  
  .deleteBtn {
    background: none;
    border: none;
    color: #7e4f41;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 23px;
    font-family: 'Lateef', sans-serif;
  }
  
  .cartContent {
    display: flex;
    gap: 40px;
    width: 100%;
    max-width: 1300px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
  }
  
  .productsSection {
    flex: 3;
  }
  
  .summaryBox {
    flex: 1;
    background: #f5e6df;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    height: fit-content;
    font-family: 'Lateef', sans-serif;
    color: #59341b;
    margin-left: 50px;
    font-size: 20px;
  }
  
  .summaryBox h3 {
    margin-top: 0;
  }
  
  .title {
    margin-bottom: 0;
    text-align: center;
    font-family: 'Lateef', sans-serif;
    font-size: 35px;
    color: #59341b;
  }
  
  .sellerTitle {
    margin: 20px 0 10px 30px;
    font-size: 30px;
    color: #59341b;
    font-family: 'Lateef', sans-serif;
  }
  